
<%= simple_form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  
  <%= f.input :title %>
  <%= f.input :company_name %>
  <%= f.input :contact_email %>
  <%= f.input :description %>
  <%= f.input :filled %>
  <%= f.input :website %>

    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Cancelar",
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
