<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Filled?:</b>
  <%= @job.filled? %>
</p>

<p>
  <b>Company name:</b>
  <%= @job.company_name %>
</p>

<p>
  <b>Website:</b>
  <%= @job.website %>
</p>

<p>
  <b>Contact email:</b>
  <%= @job.contact_email %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
